@layout('main')
@section('content')
<h1>Tasks</h1>
<div class="list-group">
  <div class="alert alert-success" role="alert">
    A simple success alert—check it out!
  </div>
  <a href="#" class="list-group-item list-group-item-action">A second link item</a>
  <a href="#" class="list-group-item list-group-item-action">A third link item</a>
  <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
</div>
@endsection
